$text: #393D47;
$text-brown: #6D7270;
$light-text: #717684;
$gray: #AEB1C0;
$light-bg: #F7F8FB;
$bg: #F5F5FB;
$border: #E1E2FC;
$light-green: #D5E8E0;
$light-purple: #E5E6FD;
$purple: #8F93C5;
$red: #8d2626;
$light-red: rgba(141, 51, 38, 0.3);
